In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [4]:
import matplotlib

In [2]:
hsal = pd.read_csv('sale_Dataset.csv')

In [6]:
hsal.head(5)

,Unnamed: 0,Price,Pid,Property_name,Address,Neighboorhood
0,0,2500000,E9857,Land for sale Eleranigbe Eleranigbe Ibeju-Lekk...,Eleranigbe Eleranigbe Eleranigbe Ibeju-Lekki L...,Ibeju-Lekki
1,1,30000000,"17,H2630",667.0 square meter Land for sale opebi street ...,Opebi street opebi street Opebi Ikeja Lagos,Ikeja
2,2,3500000000,"10,18,H4485",3 bedroom House for sale Victoria Island Exten...,VI Lagos VI Extension VI Lagos,VI
3,3,340000000,H4413,5 bedroom Duplex for sale Lekki Phase 1 Lekki ...,off afrika lane Lekki Phase 1 Lekki Lagos,Lekki
4,4,28000000,G8554,3 bedroom Flat / Apartment for sale Igando Iko...,NEAR IGANDO B/STOP Igando Ikotun Igando Lagos,Igando

In [7]:
hsal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9784 entries, 0 to 9783
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     9784 non-null   int64
 1   Price          9784 non-null   int64
 2   Pid            9784 non-null   object
 3   Property_name  9784 non-null   object
 4   Address        9784 non-null   object
 5   Neighboorhood  9784 non-null   object
dtypes: int64(2), object(4)
memory usage: 458.8+ KB

In [11]:
#Average Price
hsal['Price'].mean()

646066931.2893499

In [12]:
#Maximum price of house sale
hsal['Price'].max()

1600000000000

In [22]:
#Neighbourhoods with Lekki
hsal.loc[hsal['Neighboorhood'] == 'Lekki']

,Unnamed: 0,Price,Pid,Property_name,Address,Neighboorhood
3,3,340000000,H4413,5 bedroom Duplex for sale Lekki Phase 1 Lekki ...,off afrika lane Lekki Phase 1 Lekki Lagos,Lekki
9,9,30000000,H0634,3 bedroom Flat / Apartment for sale Oral Estat...,Oral Estate Oral Estate Ikota Lekki Lagos,Lekki
11,11,180000000,H3290,5 bedroom House for sale Lekki Phase 1 Lekki L...,Lekki Phase 1 Lekki Phase 1 Lekki Lagos,Lekki
12,12,160000000,H4181,6 bedroom House for sale Pinnock Beach estate ...,Jakande Pinnock Beach estate Jakande Lekki Lagos,Lekki
15,15,60000000,G4612,4 bedroom Duplex for sale chevron Lekki Lagos,chevron Chevron Lekki Lagos,Lekki
...,...,...,...,...,...,...
9773,9773,450000000,E0745,1500.0 square meter Land for sale Lekki Phase ...,Admiralty way Lekki Phase 1 Lekki Lagos,Lekki
9774,9774,260000000,E0743,900.0 square meter Land for sale Lekki Phase 1...,Wole olateju Lekki Phase 1 Lekki Lagos,Lekki
9776,9776,2800000000,E0736,Land for sale Lekki Phase 1 Lekki Lagos,maiyegun tourism scheme (Theme park) Lekki Pha...,Lekki
9777,9777,4500000000,E0735,Land for sale LBS Ibeju-Lekki Lagos,"Maiyegun tourism (near alpha beach), Lekki Lbs...",Lekki
9780,9780,45000000,E0701,4 bedroom Duplex for sale Bakare Estate Agungi...,Sassi street Bakare Estate Agungi Lekki Lagos,Lekki